  main{
    width: 500px;
    margin: 0 auto;
    background-color: aqua;
    height: 300vh;
  }

  section{
    width: 400px;
    margin: 0 auto;
    background-color: coral;
    height: 100vh;
  }
  .box{
    --size:50px;
    border: 5px solid black;
    width: var(--size);
    height: var(--size);
  }

  .pos-static{
    position: static;
  }

  .pos-relative{
    position: relative;
    background-color: yellowgreen;
    top: 10px;
    left: var(--size);
  }

  .pos-fixed{
    width: initial;
    position: fixed;
    background-color: chartreuse;
    left: 0;
    /*transform: translateX(-50%)*/
    right: 0;
    top: 0;
  }

  .pos-relative-conteiner2{
    position: relative;
  }

  .pos-relative-conteiner{
    position: relative;
  }


  .pos-absolute{
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .pos-sticky{
  
  }