[title] {
  color: blue; /*без разницы где мы применим title он везде будет выполнять одну функцию*/
}

[href="https://google.com"] {
  background-color: lightgreen;
  color: green;
}
[title*="test"]{
  color: purple;
}

[title^="start"]{
background-color: chartreuse;
}

[title$="end"]{
background-color: crimson;
}

a[href="https://google.com"][title]#first1.class1.class2 {
  background-color: cyan;
  color: black;
}


div p{
  color: rgb(200, 46, 29);
}
/*если много селекторов то они пишутся с новой строчки*/
div > p,    /*комбинатор дочерних элем, правый потомок левого элемента*/
div > p > a{     /*cколько бы мы не ставили > стили будут применяться к последнему элементу*/
  font-size: 60px;
  color: yellow;
}

p ~ p{
  font-weight: bold; /*селектор применяется ко всем параграфам кроме первого,так как перед ним не идет праграф*/
}

p + p, /*если много селекторов то они пишутся с новой строчки*/
.article > .text + .text{
  font-style: italic; /*селектор применяется,если через один знак перед ним был р*/
}

.btn{
  background-color: blue;
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 20px;
}
.btn:hover{
  color: aliceblue;
  background-color: blue;
}

.btn:active {
  color: red;
}

.btn:focus{
  border-color: red;
}

.interactive-section > p:first-child{
  color: red;
}

.interactive-section > p:last-child{ /*even-четные odd-не  четные*/
  color: purple;
}

.interactive-section > p:nth-child(2){ /*для чутных*/
  color: rgb(50, 195, 89);
}


:root{
  font-size: 24px;
}